/*
Program       esci-distributions.css
Author        Gordon Moore
Date          14 July 2020
Description   CSS for esci distributions
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1       Initial version

#endregion */


/*----------------------------------control side 9set in esci.css---------------------------------------------------------*/


/*----------------------------------display---------------------------------------------------------*/
#rightpanel {
  border: 1px solid grey;
  display: grid;
  grid-template-rows: 5rem 50% 5rem auto;
}

/*---------------------------------top axis---------------------------------------------------------*/

#topaxis {
  background-color: white;
}

/*----------------------------------pdf-------------------------------------------------------------*/

#pdfdisplay {
  /* border: 1px solid red; */
  background-color: white;
}

/*---------------------------------top axis---------------------------------------------------------*/

#bottomaxis {
  background-color: white;
}

/*----------------------------------slider-----------------------------------------------------------*/

#sliderdisplay {
  border: 1px solid blue;
}


/*---------------------------------svg style----------------------------------------------------------*/

.normalpdf {
  fill: white;
  stroke-width: 3px;
  stroke: blue;

}