/*
Program       esci-distributions.css
Author        Gordon Moore
Date          25 July 2020
Description   CSS for esci distributions
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1       Initial version

#endregion */

/*---------------------------------icons-----------------------------------------------------------*/

.icons {
  width: 3rem;
  height: 3rem;
}

/*----------------------------------control side  (set in esci.css)--------------------------------*/

.greek2 {
  font-size: 2.5rem;
}


#musigmadiv {
  display: grid;
  grid-template-columns: 5rem 25rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 2rem;
}

#mudiv {
padding-top: 2rem; 
margin-left: 1rem;
}

#sigmadiv {
  padding-top: 2rem; 
  margin-left: 1rem;
}

#muval {
  margin-top: 3rem;
  margin-left: 2rem;
}

#sigmaval {
  margin-top: 3rem;
  margin-left: 2rem;
}



/*----------------------------------display---------------------------------------------------------*/
#rightpanel {
  border: 1px solid grey;
  display: grid;
  grid-template-rows: 5rem 50% 5rem auto;
}

/*---------------------------------top axis---------------------------------------------------------*/

#topaxis {
  background-color: white;
}

/*----------------------------------pdf-------------------------------------------------------------*/

#pdfdisplay {
  /* border: 1px solid red; */
  background-color: white;
}

/*---------------------------------top axis---------------------------------------------------------*/

#bottomaxis {
  background-color: white;
}

/*----------------------------------slider-----------------------------------------------------------*/

#sliderdisplayarea {
  display: grid;
  grid-template-columns: 3rem 3rem auto 3rem 3rem;
}

.slidericons {
  margin-top: 2.4rem;
}

.slidericons:hover {
  background-color: lightgray;
}

.slidericons:active {
  background-color: darkgrey;
}

.criticalregionlefttail {
  fill: lightsteelblue;
  stroke-width: 0;
}

.criticalregionrighttail {
  fill: lightsteelblue;
  stroke-width: 0;
}

/*---------------------------------svg style----------------------------------------------------------*/

.normalpdf {
  fill: none;
  stroke-width: 3px;
  stroke: blue;
}


/*-----------------------------------------------------------------------------------------------------*/

